/* Applies to all pages */
body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin:40px;
}

/* Navigation */

nav{
    margin-bottom:20px;
}

nav a{
    text-decoration:none;
    color:navy;
    font-weight:bold;
    margin-right:15px;
}

/* Page 1 */

h1{
    color:darkred;
}

/* Page 2 */

.border{
    border:3px solid black;
    padding:20px;
    background:white;
}

/* Page 3 */

h4{
    font-family:"Courier New", monospace;
    color:darkgreen;
}
